<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
<a href="/add">Add a Pokemon</a>
</body>
<table>

    <tr>

        <th>Name</th>

        <th>Type1</th>

        <th>Type2</th>

        <th>Gen</th>

    </tr>

    {% for pokemon in collection %}

    <tr>

        <td>{{ pokemon['name'] }}</td>

        <td>{{ pokemon['type1'] }}</td>

        <td>{{ pokemon['type2'] }}</td>

        <td>{{ pokemon['gen'] }}</td>

    </tr>

    {% endfor %}

</table>
