{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <h1>Welcome to My Inventory App</h1>

    <!-- Add your page-specific content here -->
     {% for data in meow %}

    <h1>{{ data.name | capitalize }}</h1>
    <img src="{{ data.sprites.front_default }}" alt="{{ data.name }}">

    <h2>Types:</h2>
    <ul>
        {% for type in data.types %}
            <li>{{ type.type.name }}</li>
        {% endfor %}
    </ul>

    <h2>Abilities:</h2>
    <ul>
        {% for ability in data.abilities %}
            <li>{{ ability.ability.name }}</li>
        {% endfor %}
    </ul>

    <h2>Stats:</h2>
    <ul>
        {% for stat in data.stats %}
            <li>{{ stat.stat.name }}: {{ stat.base_stat }}</li>
        {% endfor %}
    </ul>

    {% endfor %}

{% endblock %}


