<!DOCTYPE html>
<html>
<head>
    <title>{{ data.name | capitalize }}</title>
</head>
<body>
    <h1>{{ data.name | capitalize }}</h1>
    <img src="{{ data.sprites.front_default }}" alt="{{ data.name }}">

    <h2>Types:</h2>
    <ul>
        {% for type in data.types %}
            <li>{{ type.type.name }}</li>
        {% endfor %}
    </ul>

    <h2>Abilities:</h2>
    <ul>
        {% for ability in data.abilities %}
            <li>{{ ability.ability.name }}</li>
        {% endfor %}
    </ul>

    <h2>Stats:</h2>
    <ul>
        {% for stat in data.stats %}
            <li>{{ stat.stat.name }}: {{ stat.base_stat }}</li>
        {% endfor %}
    </ul>
</body>