{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="row">
        {% for pokemon in meow %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ pokemon.sprites.front_default }}" alt="{{ pokemon.name }}">
                <div class="card-body">
                <h5 class="card-title">
                    {{ pokemon['name'] }}
                    {{pokemon['type']}}
                    {% for type in pokemon.types %}
                    {{ type.type.name }}
                    {% endfor %}
                    
                </h5>
                <p class="card-text"> <p><strong>Pokedex Entry:</strong> {{ pokemon.flavor_text }}</p></p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <form 
                    action="{{url_for('delete_item' , id=pokemon.db_id)}}"
                    method="post"
                    style="display: inline">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');"> Delete</button>
                </form>

        
                
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Add your page-specific content here -->

{% endblock %}
 