{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="row">
                {% for pokemon in meow %}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                    <img src="{{ pokemon.sprites.front_default }}" alt="{{ pokemon.name }}">
                    <div class="card-body">
                    <h5 class="card-title">
                      {{ pokemon['name'] }}
                      
                    </h5>
                    <p class="card-text"> <p><strong>Pokedex Entry:</strong> {{ pokemon.flavor_text }}</p></p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    <a href="{{url_for('delete_item', id=pokemon.id)}}" class="btn btn-primary">Delete</a>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    <!-- Add your page-specific content here -->

{% endblock %}
 